<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title>PCCOE Sports Club | Registration Form</title>
	<link rel="stylesheet" href="{{url_for('static',filename='regis.css' ) }} ">
</head>
<body style="background-image: url(/static/a5.jpg);">

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">PCCOE Sports Club</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('hello') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about')}}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('ground') }}">Ground Booking</a>
              </li>

            </ul>
            <form class="d-flex">
              <button class="btn btn-outline-success"><a href="{{ url_for('signup') }}" style="text-decoration : none; color:#198754" >Sign Up</a></button>
            </form>
            <form class="d-flex mx-3">
              <button class="btn btn-outline-success"><a href="{{ url_for('sign_in') }}" style="text-decoration : none; color:#198754" >Sign In</a></button>
            </form>
          </div>
        </div>
      </nav>

<div class="wrapper">
    <div class="title">
      SPORTS REGISTRATION
    </div>
    <form action="/regis" method="POST">
        <div class="form">
           <div class="inputfield">
              <label>Username</label>
              <input type="text" id="user" name="user" class="input">
           </div>

            <div class="inputfield">
              <label>Email</label>
              <input type="email" id="mail" name="mail" class="input" required>
           </div>

           <div class="inputfield">
              <label>Password</label>
              <input type="password" id="pass" name="pass" class="input" required>
           </div>
          <div class="inputfield">
            <label>Sports</label>
            <div class="custom_select">
              <select>
                <option value="">Select</option>
                <option value="male">Cricket</option>
                <option value="female">Football</option>
                <option value="female">Badminton</option>
                <option value="female">Tennis</option>
                <option value="female">Swimming</option>
                <option value="female">Hockey</option>
              </select>
            </div>
         </div>
         <div class="inputfield">
          <label>Membership Months</label>
          <div class="custom_select">
            <select>
              <option value="">Select</option>
              <option value="male">1(Rs.1500)</option>
              <option value="female">3(Rs.4200)</option>
              <option value="female">6(Rs.6000)</option>
              <option value="female">12(Rs.10000)</option>
            </select>
          </div>
       </div>
            <div class="inputfield">
              <label>Gender</label>
              <div class="custom_select">
                <select>
                  <option value="">Select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
           </div>
          <div class="inputfield">
              <label>Phone Number</label>
              <input type="text" id="phno" name="phno" class="input">
           </div>
          <div class="inputfield">
              <label>Address</label>
              <textarea class="textarea" id="add" name="add"></textarea>
           </div>
          <div class="inputfield">
              <label>Postal Code</label>
              <input type="text" name="pin" id="pin" class="input">
           </div>
          <div class="inputfield terms">
              <label class="check">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <p>Agreed to terms and conditions</p>
           </div>
               <div class="row ml-10" style="margin-left: 40%">
                    <a href="{ url_for('payment')}"><input type="submit" class="button" value="Payment" style="padding: 5px; background-color: #fec107 ;"></a>
               </div>
        </div>
    </form>
</div>	

	
</body>
</html>